@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sunrin-red: #F15923;
  --sunrin-green: #00A05C;
  --sunrin-blue: #0067AC;
  --infosec: #E46400;
  --sw: #F5B000;
  --it-manage: #00AF6E;
  --cd: #276AAD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard, ui-sans-serif, system-ui;
}